.App {
  text-align: center;
  background-image: url(../../700862.jpg);
  /*To be changed*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
  background-attachment: fixed;
  margin: 0px;
  height: 100%;
}

.LoginHeading {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

.typeface {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.LoginContainer {
  padding: 5%;
}

@media only screen and (max-width: 1024px) {
  .App {
    background-size: auto 100%;
  }
}

.SignUpButton {
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  left: 50%;
}

.LoginButton {
  position: absolute;
  bottom: 5%;
  transform: translateX(-50%);
  left: 50%;
}

.default {
  opacity: 0;
  visibility: hidden;
  transition-duration: 200ms, 200ms, 0;
  transition-property: opacity, top, visibility;
  transition-delay: 0, 0, 200ms;
}

.hidden {
  opacity: 1;
  visibility: visible;
}