#QuizTimer{
    font-weight: 400;
    margin-top: 10px;
    margin-right: 20px; 
    cursor: pointer;
    font-size: 1.25rem;  
}

.quiz-main {
  margin: auto;
  margin-top: 4%;
  max-width: 80%;
  min-height: 75%;
}

.AnswersContainer{
  padding: 2%;
  margin: 20 20%;
}

.AnswerOption{
  margin:10px auto;
}